<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.loverquestion">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoverQueastion"
        tools:ignore="ExtraText">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        //ca-app-pub-3940256099942544~3347511713 공용 앱 ID
        //ca-app-pub-7754099565688705~2735117547 내 커플질문 앱 ID

        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>
        <activity android:name=".PastQActivity"/>
        <activity android:name=".PresentQActivity"/>
        <activity android:name=".FutureQActivity"/>
        <activity android:name=".BalenceQActivity"/>
        <activity android:name=".HotBalenceQActivity"/>
        <activity android:name=".HotQActivity"/>


    </application>

</manifest>